@model IEnumerable<GestionDeRiesgos.Models.Planes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consultar plan</h1>
@if (TempData["MensajeLista"] != null)
{
    //Si tiene datos mostramos el alert en caso de que falle la autenticacion
    <div class="alert alert-warning" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
        <stromg>
            @TempData["MensajeLista"]
        </stromg>
    </div>
}
<form asp-controller="Planes" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text" />
        <input asp-controller="Planes" asp-action="Index" asp-route-idBusqueda="1" type="submit" value="Id" class="btn btn-sm btn-dark" />
        <input asp-controller="Planes" asp-action="Index" asp-route-nombreBusqueda="2" type="submit" value="Nombre" class="btn btn-sm btn-dark" />
        <input asp-controller="Planes" asp-action="Index" asp-route-tipoBusqueda="3" type="submit" value="Tipo" class="btn btn-sm btn-dark" />
        <input asp-controller="Planes" asp-action="Index" asp-route-riesgoAsociado="4" type="submit" value="Riesgo asociado" class="btn btn-sm btn-dark" />


        <input asp-controller="Planes" asp-action="Index" asp-route-restaurar="restaurar" type="submit" value="Restaurar" class="btn btn-sm btn-dark" />

    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoRiesgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idPlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoRiesgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observaciones)
            </td>
            <td>
                    @if (TempData["Mensaje"] == "opcion1")
                    {
                        @Html.ActionLink("Edit", "Edit", new { id=item.idPlan })
                        ;
                    }
                    @if (TempData["Mensaje"] == "opcion2")
                    {
                        @Html.ActionLink("Delete", "Delete", new { id=item.idPlan})
                        ;

                    }
                    @if (TempData["Mensaje"] == "opcion3" || TempData["Mensaje"] == null)
                    {
                        @Html.ActionLink("Details", "Details", new { id=item.idPlan })
                        ;
                    }
            </td>
        </tr>
}
    </tbody>
</table>
