@model IEnumerable<GestionDeRiesgos.Models.Usuarios>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consultar Usuario</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correo)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.correo)
                </td>
               
                <td>
                    @if (TempData["Mensaje"] == "opcion1")
                    {
                        @Html.ActionLink("Editar nombre", "Edit", new { id=item.idUsuario })
                        ;



                    }
                    @if (TempData["Mensaje"] == "opcion2")
                    {
                        @Html.ActionLink("Delete", "Delete", new { id=item.idUsuario})
                        ;

                    }
                    @if (TempData["Mensaje"] == "opcion3" || TempData["Mensaje"] == null)
                        {
                        @Html.ActionLink("Details", "Details", new { id=item.idUsuario })
                        ;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
