@model IEnumerable<GestionDeRiesgos.Models.AbrevRiesgos>

@{
    ViewData["Title"] = "Abreviaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Create</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionDeRiesgos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

  

  <style>
     body {
            position: relative;
             min-height: 10vh;
            margin: 0;
            padding: 0;
        }
        
        .background-svg {
            position: absolute;
            bottom: -140px;
            left: 0;
            width: 100%;
            height: auto;
            z-index: -2;
        }
    </style>

</head>

<body>
<h1>Abreviaciones</h1>


    <button class="btnGuardar" >
         <a style="font-size:15px;text-decoration:none;color:green" asp-action="CreateAbrev">Añadir Id Riesgo</a>
    </button>
   

<table class="table">
    <thead>
        <tr>
            <th>
                <div class="encabezadoTabla">
                    @Html.DisplayNameFor(model => model.abreviacion)
                </div>
            </th>
            <th>
                <div class="encabezadoTabla">
                 @Html.DisplayNameFor(model => model.categoria)
                </div>
            </th>
           
       
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="celdasTabla  vertical-line ">
                @Html.DisplayFor(modelItem => item.abreviacion)
            </td>
            <td class="celdasTabla  vertical-line ">
                @Html.DisplayFor(modelItem => item.categoria)
            </td>
            <td>

                   
                       
                          <a href="@Url.Action("DeleteAbrev", new { id = item.abreviacion })" class="btn btn-danger">Delete</a>

                      
                  

                    
                   
            </td>
        </tr>
}
    </tbody>
</table>

</body>
</html>
