@model GestionDeRiesgos.Models.Riesgos

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Delete</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionDeRiesgos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
          <style>
    body {
        background-image: url("@Url.Content("~/img/fondoDetalle3.svg")");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

</head>

<body>

<h1 class="tituloPanel">Eliminar riesgo</h1>
<div class="row">
    <div class="col-12 justify-content-center d-flex">
        <h3 class="tituloEliminar">¿Esta seguro que desea eliminar este riesgo?</h3>
    </div>

</div>

<div>
  
    <hr />
 
   @* ///////////////////////////////////////////////////////////////////////*@
    <dl class="row  ">
        <div class="row justify-content-center d-flex m-2 rounded-2 ">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex   ">
                         @Html.DisplayNameFor(model => model.codigoRiesgo)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">

                        @Html.DisplayFor(model => model.codigoRiesgo)
                 </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex  m-2 ">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex ">
                    
                          @Html.DisplayNameFor(model => model.nombre)
               </div>
                <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                     @Html.DisplayFor(model => model.nombre)
                       
               </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex m-2">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex  ">
                         @Html.DisplayNameFor(model => model.descripcion)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                         @Html.DisplayFor(model => model.descripcion)
                 </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex m-2">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex  ">
                        @Html.DisplayNameFor(model => model.probabilidad)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                        @Html.DisplayFor(model => model.probabilidad)
                 </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex m-2">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex  ">
                         @Html.DisplayNameFor(model => model.impacto)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                       @Html.DisplayFor(model => model.impacto)
                 </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex m-2">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex  ">
                        @Html.DisplayNameFor(model => model.categoria)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                        @Html.DisplayFor(model => model.categoria)
                 </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex m-2">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex  ">
                      @Html.DisplayNameFor(model => model.fecha)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                       @Html.DisplayFor(model => model.fecha)
                 </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex m-2">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex  ">
                         @Html.DisplayNameFor(model => model.estado)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                       @Html.DisplayFor(model => model.estado)
                 </div>
            
        </div>
             <div class="row  rounded-2 justify-content-center d-flex m-2">
           
               <div class = "col-sm-2 col-xl-4 inputsEliminar justify-content-center d-flex  ">
                          @Html.DisplayNameFor(model => model.observaciones)
                 </div>
                   <div class = "col-sm-4 col-xl-4    justify-content-start d-flex">
                        @Html.DisplayFor(model => model.observaciones)
                 </div>
            
        </div>
       
      
      
    </dl>
    <div class="row ">
        <div class="col-12 justify-content-end d-flex">
                <form asp-action="Delete">
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> 
                 </form>
        </div>
       
    </div>
    
 
</div>
</body>
</html>
