@model IEnumerable<GestionDeRiesgos.Models.Riesgos>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestionDeRiesgos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />

</head>
<body>





<h1 class="tituloPanel">Consultar Riesgo</h1>
    @if (TempData["MensajeLista"] != null)
    {
        //Si tiene datos mostramos el alert en caso de que falle la autenticacion
        <div class="alert alert-warning" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
            <stromg>
                @TempData["MensajeLista"]
            </stromg>
        </div>
    }
<form asp-controller="Planes" asp-action="Index">
    <div>
       
         <input type="text" style="border:none" name="buscar" class="input-buscar input-color" autocomplete="off" placeholder="Buscar" />
        <button asp-controller="Riesgos" asp-action="Index" asp-route-idBusqueda="1" type="submit" value="Código" class=" btnFiltros"> Código</button>
        <button asp-controller="Riesgos" asp-action="Index" asp-route-nombreBusqueda="2" type="submit" value="Nombre" class=" btnFiltros"> Nombre </button>
        <button asp-controller="Riesgos" asp-action="Index" asp-route-probabilidad="3" type="submit" value="Probabilidad" class=" btnFiltros">Probabilidad</button>


        <button asp-controller="Riesgos" asp-action="Index" asp-route-restaurar="restaurar" type="submit" value="Restaurar" class=" btnFiltros"> Restaurar</button>

    </div>
</form>
<div class="table-responsive">


<table class="table">
    <thead>
        <tr class="solid-line">
            <th>
                <div class="encabezadoTabla encabezado-tabla" style="font-size:13px" >
                     @Html.DisplayNameFor(model => model.codigoRiesgo)
                </div>
               
            </th>
            <th>
                 <div class="encabezadoTabla">
                           @Html.DisplayNameFor(model => model.nombre)
                </div>
              
                
            </th>
            <th>
                 <div class="encabezadoTabla">
                      @Html.DisplayNameFor(model => model.descripcion)   
                </div>
                
            </th>
            <th>
                 <div class="encabezadoTabla">
                          @Html.DisplayNameFor(model => model.probabilidad)
                </div>
               
            </th>
            <th>
                 <div class="encabezadoTabla">
                          @Html.DisplayNameFor(model => model.impacto)
                </div>
               
            </th>
            <th>
                 <div class="encabezadoTabla">
                         @Html.DisplayNameFor(model => model.categoria) 
                </div>
               
            </th>
            <th>
                 <div class="encabezadoTabla">
                          @Html.DisplayNameFor(model => model.fecha)
                </div>
               
            </th>
            <th>
                 <div class="encabezadoTabla">
                         @Html.DisplayNameFor(model => model.estado) 
                </div>
               
            </th>
            <th>
                 <div class="encabezadoTabla">
                         @Html.DisplayNameFor(model => model.observaciones)
                </div>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="solid-line  ">
            <td class="celdasTabla vertical-line" >
                <div class=" ">
                     @Html.DisplayFor(modelItem => item.codigoRiesgo)
                </div>
                    
            </td>
            <td class="celdasTabla vertical-line ">
                 <div class=" ">
                     @Html.DisplayFor(modelItem => item.nombre)
                </div>
               
            </td >
            <td class="celdasTabla  vertical-line ">
                 <div class="">
                      @Html.DisplayFor(modelItem => item.descripcion)
                </div>
               
            </td>
            <td class="celdasTabla vertical-line ">
                   <div class=" ">
                       @Html.DisplayFor(modelItem => item.probabilidad)
                </div>
              
            </td>
            <td class="celdasTabla  vertical-line ">
                <div class=" ">
                       @Html.DisplayFor(modelItem => item.impacto)
                </div>
               
            </td>
            <td class="celdasTabla  vertical-line  ">
                 <div class="">
                @Html.DisplayFor(modelItem => item.categoria)
                </div>
               
            </td>
            <td class="celdasTabla  vertical-line ">
                  <div class="">
                 @Html.DisplayFor(modelItem => item.fecha)
                </div>
               
            </td>
            <td class="celdasTabla  vertical-line  ">
                  <div class="">
                  @Html.DisplayFor(modelItem => item.estado)
                </div>
               
            </td>
            <td class="celdasTabla  vertical-line ">
                 <div class="">
                    @Html.DisplayFor(modelItem => item.observaciones)
                </div>
              
            </td>
            <td class="celdasTabla">
                    @if (TempData["Mensaje"] == "opcion1")
                    {
                       
                     
                           <a style="text-decoration:none" href="@Url.Action("Edit", new { id = item.codigoRiesgo })"  > 
                            <button class="btn btn-info text-white">Editar</button>
                            
                        </a>
                    }
                    @if (TempData["Mensaje"] == "opcion2")
                    {
                        

                         <a style="text-decoration:none" href="@Url.Action("Delete", new { id = item.codigoRiesgo })"  > 
                            <button class="btn btn-danger text-white">Eliminar</button>
                            
                        </a>

                    }
                    @if (TempData["Mensaje"] == "opcion3" || TempData["Mensaje"] == null)
                    {
                     
                        <a style="text-decoration:none" href="@Url.Action("Details", new { id = item.codigoRiesgo })"  > 
                            <button class="btn btn-secondary text-white">Detalles</button>
                            
                        </a>
                      
                     
                               
                              
                    }
                    
            </td>
        </tr>
}
    </tbody>
</table>
</div>

</body>
</html>
